---
---

$background: url({{ site.data.attributes.background-image.urls.fullsize }});

@import 'mixins';

body {
  margin-bottom: 0;
  background-image: $background;
  background-position: left;
}

html, body, #splash-container {
  height: 100%;
}

#big-logo {
  height: 100%;
  display: flex;

  svg.logo {
    display: block;
    margin: auto;
    width: 60%;
  }
}
