---
---
@import 'variables';
@import 'colours';
@import 'fonts';

@import 'bootstrap';

@import 'footer';

body {
  background-image: url(../assets/backgrounds/clouds-red.jpg);
}

h1 {
  color: map-get($theme-colors, primary);
  font-family: $font-primary;
}

.container {
  position: relative;
}

#main-nav {
  text-align: right;
  position: absolute;
  top: $padding;
  right: $padding;

  text-transform: uppercase;

  li > a {
    padding: 0;
    margin: 0;
    opacity: $opacity;
    color: white;
  }

  li > a:hover {
    opacity: $opacity * 2;
  }
}

#big-logo {
  svg {
    padding-top: $padding * 3;
    display: block;
    margin: auto;
    width: 60%;
    path {
      opacity: $opacity;
      fill: white;
    }
  }
}

#mobile-padding {
  height: 200px;
}
