---
---

$background: url({{ site.data.attributes.background-image.urls.fullsize }});

@import 'variables';
@import 'colours';
@import 'bootstrap';
@import 'fonts';
@import 'mixins';

body {
  color: $dark-grey;
}

.container {
  padding-bottom: $footer-height;
}

p {
  text-align: justify;
}

blockquote > p {
  text-align: left;
}

h1, h2, h3, h4 {
  text-align: center;
  padding: $padding;
  font-weight: bold;
}

h1 {
  text-transform: uppercase;
  font-size: 2em;
  margin: $padding;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1em;
}

dt {
  text-align: right;
}

a {
  color: $link-color;
}

a, a:active, a:focus {
   outline: none;
}

a:hover {
  text-decoration: none;
  color: $link-hover;
}

.tooltip-inner {
  font-size: 0.8em;
}

svg.logo {
  path {
    opacity: $opacity;
    fill: white;
  }

  path:hover {
    opacity: $opacity * 0.5;
  }
}

.review {
  margin: $padding;
}

.merch-logo {
  background-image: $background;
  background-position: right;
  padding: $padding;
  margin: $padding;
}

.btn {
 margin-bottom: $padding;
}

.btn-info, .btn-warning  {
  background-image: $background;
  background-position: left;
  border: 0;
  color: white;
}

.btn-info:hover, .btn-warning:hover  {
  //background-color: darken(map-get($theme-colors, primary), 10%);
  color: $light-grey;
}

.cal-subscribe {
  position: absolute;
  right: $padding;
  top: $banner-height + ($padding);
  font-size: 0.7em;
}

.blog-archive {
  dd, dt {
    padding: $padding;
  }

  dt {
    text-align: left;
  }

  dd {
    border-bottom: 1px $light-grey solid;
  }

  dd:last-child {
    border: none;
  }
}

.modal-title {
  margin: 0 auto;
}

@import 'footer';
@import 'nav';
@import 'assets';
@import 'gigs';
