---
---

@import url(//fonts.googleapis.com/css?family={{ site.data.attributes.font.name }}:{{ site.data.attributes.font.weight }});
$font: {{ site.data.attributes.font.name }};
$background: url({{ site.data.attributes.background-image.urls.small }});
$brand-primary: {{ site.data.attributes.colours.primary }};
$brand-complement: {{ site.data.attributes.colours.complement }};

@import 'bootstrap';

@import 'rfm/defaults/variables';
@import 'rfm/defaults/colours';
@import 'rfm/defaults/fonts';

@import 'rfm/logo';
@import 'rfm/footer';
@import 'rfm/banner';
@import 'rfm/nav';
@import 'rfm/assets';
@import 'rfm/gigs';
@import 'rfm/clickers';
@import 'rfm/modals';

body,
.front-page-container {
  height: 100%;
}

body {
  color: $text-colour;
  background-color: $brand-black;
  text-transform: lowercase;
  opacity: 1;
  transition: all .6s ease-in-out;
}

body.page-fade {
  opacity: 0;
  transition: none;
}

hr {
  border-color: $brand-primary;
  border-style: dotted;
}

p {
  text-align: center;
}

article {
  p {
    text-align: justify;
  }
}

dt {
  text-align: right;
}

a {
  color: $link-color;
  transition: color $hover-transition-time $hover-transition-type;
}

a:hover {
  text-decoration: none;
  color: $link-hover;
}

a:active,
a:focus {
   outline: none;
}

.reviews {
  blockquote {
    font-size: 1.2em;
    border-bottom: 1px dotted $brand-primary;
    padding: $padding * 2;
  }

  blockquote:last-child {
    border: none;
  }

  footer {
    @extend .blockquote-footer;
    text-align: right;
    color: $brand-primary;
    font-size: 0.7em;
  }
}

.merch-logo {
  background-color: $dark-grey;
  padding: $padding;
  margin: $padding;

  &:hover {
    background-color: $link-hover;
  }

  img {
    border: none;
  }
}

.cal-subscribe,
.music-service {
  font-size: 0.7em;
  display: inline-block;
  vertical-align: middle;
}

.cal-subscribe {
  // font-size: 0.5em;
  vertical-align: 20%;
}

.blog-archive {
  dd, dt {
    padding: $padding;
  }

  dt {
    text-align: left;
  }

  dd {
    border-bottom: 1px $light-grey solid;
  }

  dd:last-child {
    border: none;
  }
}

.sub-list {
  margin: 0;
  padding-left: 0;
  li {
    list-style-type: none;
  }
}

.qr-code {
  text-align: center;
  .ground {
    fill: $brand-white;
  }

  .figure {
    fill: $brand-primary;
  }
}

.certificate {
  .open-data-certificate {
    display: inline-flex;
    margin-right: $padding;
  }
  .open-data-certificate-details {
    background: $brand-black;
  }
}

.album-details {
  height: 100%;

  dt {
    @extend .col-6;
    color: $brand-primary;
    padding: 0;
  }
  dd {
    padding-left: $padding;
    @extend .col-6;
  }
}

.album-cover {
  margin-bottom: $padding * 2;
}
