---
title: Demos
---

<div
  class='row'
  >
  {% for track in site.data.soundcloud limit:3 %}
    {%
      include media/sound.html
        date = track.date
        id = track.id
        license = track.license
        location = track.location
        title = track.title
    %}
  {% endfor %}
</div>

<div
  class='row'
  >
  {% for track in site.data.soundcloud offset:3 limit:3 %}
    {%
      include media/sound.html
        date = track.date
        id = track.id
        license = track.license
        location = track.location
        title = track.title
    %}
  {% endfor %}
</div>
