---
title: Sounds
---

<p class='text-center'>
  Our album releases are <a href='/albums'>here</a> (new EP coming soon!), or
  check out these rehearsal recordings
</p>

<div class="row">
  {% for track in site.data.soundcloud limit:2 %}
    {% include sound.html
      id = track.id
      date = track.date
      license = track.license
      location = track.location %}
  {% endfor %}
</div>

<div class="row">
  {% for track in site.data.soundcloud offset:2 limit:3 %}
    {% include sound.html
      id = track.id
      date = track.date
      license = track.license
      location = track.location %}
  {% endfor %}
</div>

<div class="row">
  {% for track in site.data.soundcloud offset:5 limit:3 %}
    {% include sound.html
      id = track.id
      date = track.date
      license = track.license
      location = track.location %}
  {% endfor %}
</div>
