---
title: The Band
---

<div class="row">
  {% for musician in site.data.band %}
  <div class="col-lg photo musician">
    <img
      src='/assets/images/the-band/{{ musician.image }}'
      alt='{{ musician.name }}'
      class='rounded mx-auto d-block'
      data-toggle='tooltip'
      data-html='true'
      title='Photographer: {{ musician.photographer | capitalize }}<br />License: {{ site.data.licenses[musician.license].short-name }}'
    />
    {% capture name %}<h2 class='musician-name'>{{ musician.name }}</h2>{% endcapture %}
    {% if musician.twitter %}
      <a
        href='//twitter.com/{{ musician.twitter }}'
        alt="{{ musician.name }}'s Twitter feed"
        title="{{ musician.name }}'s Twitter feed"
      >
        {{ name }}
      </a>
    {% else %}
      {{ name }}
    {% endif %}
  </div>
  {% endfor %}
</div>
