---
title: Band
---
<div
  class='row'
  >
  {% for musician in site.data.band %}
  <div
    class='col-sm musician'
    >
    <img
      alt='{{ musician.name }}'
      src='/assets/images/the-band/{{ musician.image }}'
      title='Photographer: {{ musician.photographer | capitalize }}, License: {{ site.data.licenses[musician.license].short-name }}'
    />
    {% capture name %}
      <h2>{{ musician.name }}</h2>
    {% endcapture %}
    {% if musician.twitter %}
      <a
        href='//twitter.com/{{ musician.twitter }}'
        title='{{ musician.name }} on Twitter'>
        {{ name }}
      </a>
    {% else %}
      {{ name }}
    {% endif %}
    <h3>{{ musician.instrument }}</h3>
  </div>
  {% endfor %}
</div>
