<div
  aria-hidden='true'
  class='modal fade animated {{ site.data.attributes.modals.animation.in }}'
  id='background-credit-modal'
  role='dialog'
  tabindex='-1'
  >
  <div
    class='modal-dialog modal-dialog-centered'
    >
    <div
      class='modal-content'
      >
      <div
        class='modal-body'
        >
        <figure>
          <a
            href='{{ site.data.attributes.background-image.urls.photo }}'
            >
            <img
              alt='{{ site.data.attributes.background-image.title}}'
              src='{{ site.data.attributes.background-image.urls.small }}'
            />
          </a>
          <figcaption
            class='image-credit-text'
            >Background image remixed from:
            <a
              href='{{ site.data.attributes.background-image.urls.photo }}'
              >{{ site.data.attributes.background-image.title}}</a>
            by
            <a
              href='{{ site.data.attributes.background-image.photographer.url }}'
            >{{ site.data.attributes.background-image.photographer.name }}</a>
            License:
            <a
              href='{{ site.data.licenses[site.data.attributes.background-image.license].url }}'
            >{{ site.data.licenses[site.data.attributes.background-image.license].short-name }}</a>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
