<head>
  <meta charset='utf-8' />
  <meta
    http-equiv='X-UA-Compatible'
    content='IE=edge' />
  <meta
    name='viewport'
    content='width=device-width, initial-scale=1' />

  {% include ie-cruft.html %}

  {% include libs.html %}

  {% include google-analytics.html %}

  {% include social.html %}

  <link
    rel='icon'
    type='image/png'
    href='/assets/favicon.png' />
  <link
    rel='stylesheet'
    href='/css/styles.css' />

  {% if include.special_css %}
  <link
    rel='stylesheet'
    href='/css/{{ include.special_css }}' />
  {% endif %}

  <script src='/js/rfm.js'></script>

  <title>{{ page.title }}</title>
</head>
