<script type="application/ld+json">
[{
  "@context" : "http://schema.org",
  "@type" : "MusicEvent",
  "name" : "Raw Funk Maharishi live at {{ include.title }}",
  "description" : "Raw Funk Maharishi live at {{ include.title }}",
  "startDate" : "{{ include.date | date: "%Y-%m-%d" }}T{{ include.time }}",
  "endDate" : "{{ include.date | date: "%Y-%m-%d" }}T{{ include.time | split: ':' | first | plus: 2 }}:{{ include.time | split: ':' | last }}",
  "location" : {
    "@type" : "Place",
    "name" : "{{ include.title }}",
    {% if include.url %}"url": "{{ include.url }}",{% endif %}
    "address" : {
      "@type": "PostalAddress",
      "addressCountry": "United Kingdom",
      "streetAddress": "{{ include.location }}"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": "{{ include.latitude}}",
      "longitude": "{{ include.longitude }}"
    }
  },
  "performer" : [{
    "@type" : "MusicGroup",
    "name" : "Raw Funk Maharishi",
    "sameAs" : "http://rawfunkmaharishi.uk/"
  }],
  "image" : "http://rawfunkmaharishi.uk/assets/logos/social-image.png",
  "offers" : {
    {% assign price = 0 %}
    {% assign currency = 'GBP' %}
    {% assign availability = 'Not relevant' %}

    {% if include.price %}
      {% assign price = include.price | slice: 1, 100 %}
      {% assign symbol = include.price | slice: 0, 1 %}
      {% assign currency = site.data.attributes.currencies[symbol] %}
      {% assign availability = "Pay on the door" %}
    {% endif %}
    "priceCurrency": "{{ currency }}",
    "price": "{{ price }}",
    "availability": "{{ availability }}",
    "url": "{% if include.url %}{{ include.url }}{% else %}http://rawfunkmaharishi.uk{{ page.url }}{% endif %}",
    "validFrom": "{{ include.date | date: '%Y-%m-%d' }}"
  }
}]
</script>

{{ site.baseurl }}
