<script type="application/ld+json">
[{
  "@context" : "http://schema.org",
  "@type" : "MusicEvent",
  "name" : "Raw Funk Maharishi live at {{ include.title }}",
  "startDate" : "{{ include.date | date: "%Y-%m-%d" }}T{{ include.time }}",
  "location" : {
    "@type" : "Place",
    "name" : "{{ include.title }}",
    {% if include.url %}"url": "{{ include.url }}",{% endif %}
    "address" : {
      "@type": "PostalAddress",
      "addressCountry": "United Kingdom",
      "streetAddress": "{{ include.location }}"
    }
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "{{ include.latitude}}",
    "longitude": "{{ include.longitude }}"
  },
  "performer" : [{
    "@type" : "MusicGroup",
    "name" : "Raw Funk Maharishi",
    "sameAs" : "http://rawfunkmaharishi.uk/"
  }]
}]
</script>
