<div id='gig-clicker-container'>
  <div id='throbber' class='throbber next-gig-slide-tab'></div>
  <div class='clickable' id='next-gig-clicker' onclick="showHide()">
    <i id='arrow' class='fas fa-exclamation-circle'></i>
  </div>
</div>

<div class='card' id='next-gig'></div>

<script>
function findGig() {
  $.getJSON('/gigs.json', function(data) {
    future = []
    $.each(data.gigs, function(index, gig) {
      if (isFuture(gig.date)) {
        future.push(gig)
      }
    })
    nextGig = (future[future.length - 1])

    if (nextGig) {
      $('#gig-clicker-container').show()
      advertise(nextGig)
    }
  })
}

function advertise(gig) {
  $('#next-gig').html(`
      Next gig:
      <a href='${ nextGig.url }'>
        ${ fancyDate(nextGig.date) } at ${ nextGig.title }
      </a>
  `)
}

$('#gig-clicker-container').hide()

findGig()

$('#next-gig').hide()
function showHide() {
  if ($('#next-gig').is(':visible')) {
    $('#next-gig').hide('drop', { direction: "right" }, 500)
  } else {
    $('#next-gig').show('drop', { direction: "right" }, 500)
  }
}
</script>
