.header {
  position: relative;
  background: $background;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $brand-black;
  height: 400px;
  @include media-breakpoint-down(xs) {
    height: 300px;
  }
}

h1 {
  position: absolute;
  bottom: $padding * 5;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  opacity: $opacity;
}
