.clickable {
  font-size: 1.5em;
  cursor: pointer;
  color: $link-color;
  z-index: 99;
  transition: color $hover-transition-time $hover-transition-type;
}

.clickable:hover {
  color: $link-hover;
}

.nav-clicker {
  position: fixed;
  top: $padding * 2;
  right: $padding * 4;
}
