html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  background-image: url(../assets/backgrounds/clouds-red.jpg);

  margin: 0;

  text-align: center;

  font-size: 0.7em;

  color: white;
  height: $footer-height;

  ul {
    @extend .list-inline;
  }

  a {
    color: white;
    opacity: $opacity;
  }

  a:hover {
    opacity: $opacity * 2;
    text-decoration: none;
  }
}

#splash-footer {
  .footer {
    background: none;
  }
}
