#giglist {
  font-size: 1.2em;
}

.other-bands, .more-info {
  margin: 0;
  padding-left: 0;
  li {
    list-style-type: none;
  }
}

.gig-details {
  font-size: 1em;
  height: 100%;

  dt {
    @extend .col-4;
  }

  dd {
    @extend .col-8;
  }
}

#archive {
  h4 {
    font-size: 0.8em;
  }

  h3, h4 {
    margin: 0;
    padding: $padding;
    padding-bottom: 0;
  }

  .card {
    margin: $padding;
    padding: $padding;
  }
}

.map {
  height: 300px;
}

.gig-map {
  height: 400px;
}

.map, .gig-map {
  .svg-inline--fa {
    font-size: 1.2em;
    margin-top: 10px;
  }
}

.leaflet-control {
  text-align: right;
  a {
    color: $link-color;
  }

  a:hover {
    color: $link-hover;
    text-decoration: none;
  }
}

#archive-links {
  a:after {
    content: '|'
  }
  a:last-child:after {
    content: none;
  }
}
