#giglist {
  font-size: 1.2em;
}

.other-bands, .more-info {
  margin: 0;
  padding-left: 0;
  li {
    list-style-type: none;
  }
}

.gig-details {
  font-size: 1em;
  height: 100%;

  dt {
    @extend .col-4;
  }

  dd {
    @extend .col-8;
  }
}

#archive {
  h4 {
    font-size: 0.8em;
  }

  h3, h4 {
    margin: 0;
    padding: $padding;
    padding-bottom: 0;
  }

  .card {
    margin: $padding;
    padding: $padding;
  }
}

.map {
  height: 300px;
}

.gig-map {
  height: 400px;
}

.map, .gig-map {
  .svg-inline--fa {
    font-size: 1.2em;
    margin-top: 10px;
    path {
      fill: white;
    }
  }
}

.leaflet-control {
  text-align: right;
  a {
    color: $link-color;
  }

  a:hover {
    color: $link-hover;
    text-decoration: none;
  }
}

#archive-links {
  a:after {
    content: '|'
  }
  a:last-child:after {
    content: none;
  }
}

#next-gig {
  position: absolute;
  right: $padding * 5;
  bottom: $padding + $footer-height;
  background-color: $grey;
  border: 0;
  font-size: 0.8em;
  padding: $padding;
  color: white;
  opacity: $opacity * 2;
  @include white-link;
}

#gig-clicker-container {
  position: absolute;
  right: $padding;
  bottom: $padding + $footer-height + ($padding * 1.7);
}

#next-gig-clicker {
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  cursor: pointer;
  opacity: $opacity;
}

.throbber {
  width: $padding * 4;
  height: $padding * 4;
  position: absolute;
  right: -12px;
  bottom: -7px;

  animation: pulsate 1.8s ease-out infinite;
  border: 10px solid white;
  border-radius: 100%;
  opacity: $opacity;

  -webkit-animation: pulsate 1.8s ease-out infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0.3;
  }

  50% { opacity: 0.8; }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@-webkit-keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0.3;
  }

  50% { opacity: 0.8; }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
