.header {
  background: $background;
  background-position: right;
  height: $banner-height;

  #mobile-logo, #main-logo {
    svg.logo {
      display: block;
      height: $banner-height * 0.9;
      padding-top: $padding;
      padding-left: $padding;
    }
  }
}

#main-nav {
  text-align: right;
  position: absolute;
  top: $padding;
  right: $padding;

  text-transform: uppercase;

  li {
    @include white-link;
    a {
      padding: 0;
      margin: 0;
    }
  }
}
