$footer-height: 30px;
$banner-height: 220px;

$padding: 10px;

$opacity: 0.40;

// https://www.flickr.com/photos/akasped/14963879736
$background: url(//farm4.staticflickr.com/3918/14963879736_82b7f14b41_k.jpg);
