---
layout: default
---

<div
  class='row'
  >
  <div
    class='col-sm'
    >
    <img
      alt='{{ page.title }}'
      class='album-cover'
      src='/assets/album-covers/{{ page.cover_image }}'
    />
  </div>
  <dl
    class='col-sm row album-details'
    >
    <dt>
      Released:
    </dt>
    <dd>
      {{ page.release_date | date: '%B %Y' }}
    </dd>
    <dt>
      Recorded at:
    </dt>
    <dd>
      <a
        href='{{ page.location.url }}'
        >
        {{ page.location.name }}
      </a>
    </dd>
    {% if page.producer %}
      <dt>
        Produced by:
      </dt>
      <dd>
        {% if page.producer.url %}
        <a
          href='{{ page.producer.url }}'
          >
        {% endif %}
          {{ page.producer.name }}
        {% if page.producer.url %}
        </a>
        {% endif %}
      </dd>
    {% endif %}
    <dt>
      Tracks:
    </dt>
    <dd>
      <ul
        class='sub-list'
        >
        {% for track in page.tracks %}
        <li>
          {{ track }}
        </li>
        {% endfor %}
      </ul>
    </dd>
  </dl>
</div>

<p>
  Available on
  <a
  data-target='#youtube-modal'
  data-toggle='modal'
  href='#'
  ><i
  class='music-service {{ site.data.attributes.music-services.youtube.font-awesome }}'
  ></i>&nbsp;YouTube</a>,
  <a
  data-toggle='modal'
  data-target='#spotify-modal'
  href='#'
  ><i
  class='music-service {{ site.data.attributes.music-services.spotify.font-awesome }}'
  ></i>&nbsp;Spotify</a>,
  {% for outlet in page.outlets %}
  <a
  href='{{ outlet.url }}'
  ><i
  class='music-service {{ site.data.attributes.music-services[outlet.name].font-awesome }}'
  ></i>&nbsp;{% assign words = outlet.name | split: '-' %}{% for word in words %}{{ word | capitalize }}{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}</a>,
  {% endfor %}
  iTunes, BitTorrent and elsewhere
</p>
{% capture yt-body %}
<div
  class='embed-responsive embed-responsive-16by9'
  >
  <iframe
    allowfullscreen
    src='//www.youtube.com/embed/videoseries?list={{ page.youtube_id }}'
  ></iframe>
</div>
{% endcapture %}
{%
  include modals/album-modal.html
    body = yt-body
    name = 'youtube'
%}

{% capture spotify-body %}
<div
  class='embed-responsive embed-responsive-16by9'
  >
  <iframe
    src='//open.spotify.com/embed/album/{{ page.spotify_id }}'
  ></iframe>
</div>
{% endcapture %}
{%
  include modals/album-modal.html
    body = spotify-body
    name = 'spotify'
%}

{% include fragments/json-ld-record.html %}
