---
layout: default
---

<div class='row'>
  <dl class='row col-sm gig-details'>

    <dt>Date:</dt>
    <dd id='date'></dd>

    <dt>Time:</dt>
    <dd>{{ page.time }}</dd>

    <dt>Location:</dt>
    <dd>{{ page.location | replace: ',', ',<br />' }}</dd>

    {% if page.price %}
      <dt>Price</dt>
      <dd>{{ page.price }}</dd>
    {% endif %}

    {% if page.other_bands %}
    <dt>Also appearing:</dt>
    <dd>
      <ul class='other-bands'>
        {% for band in page.other_bands %}
        <li>
          <a href='{{ band.url }}' title='{{ band.name }}'>{{ band.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </dd>
  {% endif %}

  {% if page.facebook_id or page.venue_website %}
  <dt>More info:</dt>
  <dd>
    <ul class='more-info'>
      {% if page.venue_website %}
        <li>
          <a href='{{ page.venue_website.url }}' title='More information'>
            {{ page.venue_website.text }}
          </a>
        </li>
      {% endif %}

      {% if page.facebook_id  %}
        <li>
          <a href='https://facebook.com/events/{{ page.facebook_id }}/' title='Facebook event'>
            Facebook
          </a>
        </li>
      {% endif %}
    </ul>
  </dd>
{% endif %}
  </dl>
  <div class='col-md'>
    {% include map.html latitude = page.latitude longitude = page.longitude title = page.title location = page.location %}
  </div>
</div>
{% include json-ld.html title = page.title date = page.date time = page.time location = page.location %}
<script>
gigDate = '{{ page.date | date: "%Y-%m-%d" }}'
$('#date').text(moment(gigDate).format('dddd Do MMMM YYYY'))
</script>
